In [54]:
import pandas as pd
data=pd.read_csv('census_2011.csv')
#printing data as given
data
#FIltering data for given attributes
revised_columns=['State name','District name','Population', 'Male', 'Female', 'Literate', 'Male_Literate', 'Female_Literate', 'Rural_Households', 'Urban_Households', 'Households', 'Age_Group_0_29', 'Age_Group_30_49', 'Age_Group_50', 'Age not stated']

#Assigning the new attributes to existing file only
data=data[revised_columns]
#printing new dataset
data.head()

,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,Rural_Households,Urban_Households,Households,Age_Group_0_29,Age_Group_30_49,Age_Group_50,Age not stated
0,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,158438.0,NaN,181664.0,600759.0,178435.0,89679.0,1481.0
1,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,160649.0,27190.0,187839.0,503223.0,160933.0,88978.0,611.0
2,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,36920.0,17474.0,54394.0,70703.0,41515.0,NaN,250.0
3,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,40370.0,7774.0,48144.0,87532.0,35561.0,17488.0,221.0
4,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,132139.0,15269.0,147408.0,304979.0,109818.0,61334.0,704.0

In [55]:
import pandas as pd
df = pd.read_csv('census_2011.csv')

df.rename(columns={'State name': 'State/UT',
                   'District name': 'District',
                   'Male_Literate': 'Literate_Male',
                   'Female_Literate': 'Literate_Female',
                   'Rural_Households': 'Households_Rural',
                   'Urban_Households': 'Households_Urban',
                   'Age_Group_0_29': 'Young_and_Adult',
                   'Age_Group_30_49': 'Middle_Aged',
                   'Age_Group_50': 'Senior_Citizen',
                   'Age not stated': 'Age_Not_Stated'}, inplace=True)

#print(df.head())

df.to_csv('modified_file.csv',index=False)
df.head()

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0

In [58]:
import pandas as pd
data=pd.read_csv('modified_file.csv')

def process_state_name(name):
    words = name.split()
    processed_words = [word.lower() if word.lower() == 'and' else word.capitalize() for word in words]
    return ' '.join(processed_words)

# Apply the function to the State/UT column
data['State/UT'] = data['State/UT'].apply(process_state_name)

# Save the modified data to a new CSV file
data.to_csv('modified_file.csv', index=False)

print("Data processing complete. Modified data saved to 'modified_file.csv'")
data.head()

Data processing complete. Modified data saved to 'modified_file.csv'

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,Jammu and Kashmir,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,Jammu and Kashmir,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,Jammu and Kashmir,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,Jammu and Kashmir,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,Jammu and Kashmir,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0

In [61]:
#process for renaming states in telangana
data=pd.read_csv('modified_file.csv')

# Read the text file containing the districts included in Telangana
with open('Telangana.txt', 'r') as file:
    telangana_districts = file.read().splitlines()

# Replace "Andhra Pradesh" with "Telangana" for the given districts
data.loc[data['District'].isin(telangana_districts), 'State/UT'] = 'Telangana'

# Save the updated DataFrame to a new CSV file
data.to_csv('updated_census_data.csv', index=False)

print("State names updated for Telangana districts.")

State names updated for Telangana districts.

In [64]:
#process for renaming states  ladakh
ladakh_districts = ['Leh', 'Kargil']

# Replace "Jammu and Kashmir" with "Ladakh" for the given districts
data.loc[df['District'].isin(ladakh_districts), 'State/UT'] = 'Ladakh'

# Save the updated DataFrame to a new CSV file
data.to_csv('modified_file_final.csv', index=False)
print("State Updated for Ladakh ")

State Updated for Ladakh